@charset "utf-8";
@import "bootstrap.less";
@import "responsive.less";

.maxed {
  display: block;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  content: "";
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@toolbar-height: 44px;

html,body { width:100%; height:100%; margin:0px; border:none; }
body { overflow: hidden; }
#sugar-content {
  position: absolute;
  top: @toolbar-height; bottom: 0px;
  left: 0px; right: 0px;
  overflow: auto;
  padding-bottom: 15px;
}
#sugar-toolbar {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: @toolbar-height;
  white-space: nowrap;
  /* from http://wiki.sugarlabs.org/go/Human_Interface_Guidelines */
  background: #404040; /* "toolbar grey" */

  & > button {
    background: #404040;
    border: none;
    & > img { height: 42px; width: 42px; }
    &:hover { background: #444; }
    &:active { background: #666; }
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }
}
#main-content {
  padding-left: 5px;
  padding-right: 5px;
}
/* wikipedia styling rules */
#main-content {
  .float-right {
    float: right;
    clear: right;
  }
  .float-left {
    float: left;
    clear: left;
  }
  .infobox {
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    .float-right;
    text-align: left;
    font-size: 88%;
    line-height: 1.5em;
  }
  .tright {
    .float-right;
    margin: 0.5em 0 1.3em 1.4em;
  }
  .tleft {
    .float-left;
    margin: 0.5em 1.4em 1.3em 0;
  }
  .thumb {
    border: 1px solid #ccc;
    padding: 3px !important;
    background-color: #f9f9f9;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
  }
  .rellink, .dablink {
    font-style: italic;
    padding-left: 1.6em;
    margin-bottom: 0.5em;
  }
  #firstHeading {
    //padding-top: 0;
    //padding-bottom: 0;
    //margin-top: 0;
    //line-height: 1.2em;
    margin-bottom: .1em;
    border-bottom: 1px solid #aaa;
  }
  #siteSub {
    display: inline;
    font-size: 92%;
  }
  #contentSub {
    font-size: 84%;
    line-height: 1.2em;
    margin: 0 0 1.4em 1em;
    color: #7d7d7d;
  }
  table.wikitable {
    margin: 1em 0;
    background-color: #f9f9f9;
    border: 1px #aaa solid;
    border-collapse: collapse;
    color: black;
    & > tr > th,
    & > tr > td,
    & > * > tr > th,
    & > * > tr > td {
        border: 1px #aaa solid;
        padding: 0.2em;
    }
    & > tr > th,
    & > * > tr > th {
        background-color: #f2f2f2;
        text-align: center;
    }
    & > caption {
        font-weight: bold;
    }
    & tr:empty { display: none; }
  }
  table.mbox-small {
    clear: right;
    float: right;
    margin: 4px 0 4px 1em;
    width: 238px;
    font-size: 88%;
    line-height: 1.25em;
    & tr:empty { display: none; }
  }
  .navbox, .navbox-subgroup {
    background: #fdfdfd;
  }
  .navbox {
    border: 1px solid #aaa;
    width: 100%;
    margin: auto;
    clear: both;
    font-size: 88%;
    text-align: center;
    padding: 1px;
  }
}
